<a href="https://colab.research.google.com/github/juangarcho/dane/blob/main/dane.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
archivo_csv_octubre = 'https://raw.githubusercontent.com/juangarcho/dane/main/Octubre.csv'
# Importar el archivo CSV en un DataFrame
df_octubre = pd.read_csv(archivo_csv_octubre, sep=';', decimal=',')

In [ ]:
archivo_csv_noviembre = 'https://raw.githubusercontent.com/juangarcho/dane/main/Noviembre.csv'
# Importar el archivo CSV en un DataFrame
df_noviembre = pd.read_csv(archivo_csv_noviembre, sep=';', decimal=',')

In [ ]:
archivo_csv_diciembre = 'https://raw.githubusercontent.com/juangarcho/dane/main/Diciembre.csv'
# Importar el archivo CSV en un DataFrame
df_diciembre = pd.read_csv(archivo_csv_diciembre, sep=';', decimal=',')

In [4]:
# Mostramos las primeras filas del DataFrame de octubre
print("Primeras filas del DataFrame Octubre:")
print(df_octubre.head())

Primeras filas del DataFrame Octubre:
   FECH  ADUA  PAIS COD_PAI4  COD_SAL1 COD_SAL  DPTO2  VIA  BANDERA  REGIM  \
0  2310     1   249      USA         0     AXM     68    9      249      1
1  2310     1   580      PAN         0     AXM     68    0      580      1
2  2310     3    23      DEU         3     BOG      5    3       23      1
3  2310     3    23      DEU         3     BOG      5    3       23      1
4  2310     3    23      DEU         3     BOG      5    3       23      1

   ...  CODUNI2   CANTI        PBK       PNK     FOBDOL        FOBPES  AGRENA  \
0  ...       M3  110.11  115667.45  88974.96  108082.89  4.572566e+08       0
1  ...       M3   21.58   22674.26  17441.74   18547.00  7.846512e+07       0
2  ...       KG  576.00     654.00    576.00    4475.52  1.814268e+07       0
3  ...       KG   84.00     100.75     84.00     525.00  2.221070e+06       0
4  ...       KG   30.00      35.98     30.00     114.00  4.822895e+05       0

   FLETES  SEGURO  OTROSG
0       0       0       0
1       0       0       0
2  1353.6       0       0
3       0       0       0
4       0       0       0

[5 rows x 27 columns]

In [5]:
# Describimos el DataFrame
descripcion = df_octubre.describe()
print("\nDescripción del DataFrame Octubre:")
print(descripcion)

Descripción del DataFrame Octubre:
          FECH          ADUA         PAIS      COD_SAL1         DPTO2  \
count  41158.0  41158.000000  41158.00000  41158.000000  41158.000000
mean    2310.0     37.791462    369.74146     13.704140     22.906458
std        0.0     27.962128    213.30581     14.007308     23.792390
min     2310.0      1.000000     23.00000      0.000000      0.000000
25%     2310.0      3.000000    239.00000      3.000000      8.000000
50%     2310.0     37.000000    249.00000      6.000000     11.000000
75%     2310.0     48.000000    580.00000     35.000000     25.000000
max     2310.0     90.000000    954.00000     46.000000     88.000000

                VIA       BANDERA         REGIM         MODAD       FINALID  \
count  41158.000000  41158.000000  41158.000000  41158.000000  41158.000000
mean       4.977404    398.381846      1.014870    190.091355      1.086180
std        3.623204    222.902884      0.236135     37.997728      0.280633
min        0.000000     23.000000      1.000000      2.000000      1.000000
25%        1.000000    211.000000      1.000000    198.000000      1.000000
50%        7.000000    431.000000      1.000000    198.000000      1.000000
75%        9.000000    580.000000      1.000000    198.000000      1.000000
max        9.000000    999.000000      5.000000    402.000000      2.000000

           CER_ORI1        SISESP         POSAR         DPTO1          UNID  \
count  41158.000000  41158.000000  4.115800e+04  41158.000000  41158.000000
mean       7.322027      1.802080  4.545124e+09     22.546407     24.305214
std        1.909637      0.398437  2.748217e+09     23.809249     16.094907
min        1.000000      1.000000  1.012100e+08      0.000000     11.000000
25%        8.000000      2.000000  2.103909e+09      5.000000     11.000000
50%        8.000000      2.000000  3.926909e+09     11.000000     33.000000
75%        8.000000      2.000000  6.305331e+09     25.000000     33.000000
max        8.000000      2.000000  9.807200e+09     94.000000     82.000000

              CANTI           PBK           PNK        FOBDOL        FOBPES
count  4.115800e+04  4.115800e+04  4.115800e+04  4.115800e+04  4.115800e+04
mean   1.899967e+05  2.074042e+05  2.065218e+05  1.008832e+05  4.250077e+08
std    4.357848e+06  6.050983e+06  6.050825e+06  2.733720e+06  1.145679e+10
min    1.000000e-02  0.000000e+00  0.000000e+00  1.000000e-02  4.053000e+01
25%    4.750000e+01  3.652500e+01  3.079000e+01  5.459175e+02  2.296129e+06
50%    4.800000e+02  3.320550e+02  2.890700e+02  3.645600e+03  1.540347e+07
75%    6.652100e+03  4.112352e+03  3.651510e+03  2.160000e+04  9.119411e+07
max    3.304395e+08  6.248034e+08  6.248034e+08  3.424532e+08  1.427690e+12

In [6]:
# Eliminar filas con valores faltantes en dataframe octubre
df_octubre = df_octubre.dropna()

In [7]:
# Imprimir el DataFrame octubre después de eliminar filas con valores faltantes
print("\nDataFrame octubre después de eliminar filas con valores faltantes:")
print(df_octubre)

DataFrame octubre después de eliminar filas con valores faltantes:
       FECH  ADUA  PAIS COD_PAI4  COD_SAL1 COD_SAL  DPTO2  VIA  BANDERA  \
0      2310     1   249      USA         0     AXM     68    9      249
1      2310     1   580      PAN         0     AXM     68    0      580
2      2310     3    23      DEU         3     BOG      5    3       23
3      2310     3    23      DEU         3     BOG      5    3       23
4      2310     3    23      DEU         3     BOG      5    3       23
...     ...   ...   ...      ...       ...     ...    ...  ...      ...
41153  2310    90   917      XCF        11     MDE      5    9      999
41154  2310    90   917      XCF        11     MDE      5    9      999
41155  2310    90   917      XCF        11     MDE      5    9      999
41156  2310    90   917      XCF        11     MDE      5    9      999
41157  2310    90   917      XCF        11     MDE     11    9      999

       REGIM  ...  CODUNI2    CANTI        PBK       PNK       FOBDOL  \
0          1  ...       M3   110.11  115667.45  88974.96    108082.89
1          1  ...       M3    21.58   22674.26  17441.74     18547.00
2          1  ...       KG   576.00     654.00    576.00      4475.52
3          1  ...       KG    84.00     100.75     84.00       525.00
4          1  ...       KG    30.00      35.98     30.00       114.00
...      ...  ...      ...      ...        ...       ...          ...
41153      1  ...       KG   303.59     326.87    303.59  15985156.02
41154      1  ...       KG    49.81      55.68     49.81   1198388.10
41155      1  ...       KG    94.56     103.06     94.56   4921333.08
41156      1  ...       KG     2.71       3.06      2.71     63722.65
41157      1  ...       KG  1019.88    1077.28   1019.88     40435.80

             FOBPES    AGRENA  FLETES  SEGURO  OTROSG
0      4.572566e+08         0       0       0       0
1      7.846512e+07         0       0       0       0
2      1.814268e+07         0  1353.6       0       0
3      2.221070e+06         0       0       0       0
4      4.822895e+05         0       0       0       0
...             ...       ...     ...     ...     ...
41153  6.769292e+10         0       0       0       0
41154  5.075741e+09         0       0       0       0
41155  2.059895e+10         0       0       0       0
41156  2.625768e+08         0       0       0       0
41157  1.701053e+08  34946.11       0       0       0

[41158 rows x 27 columns]

In [8]:
print(df_octubre.describe())

          FECH          ADUA         PAIS      COD_SAL1         DPTO2  \
count  41158.0  41158.000000  41158.00000  41158.000000  41158.000000
mean    2310.0     37.791462    369.74146     13.704140     22.906458
std        0.0     27.962128    213.30581     14.007308     23.792390
min     2310.0      1.000000     23.00000      0.000000      0.000000
25%     2310.0      3.000000    239.00000      3.000000      8.000000
50%     2310.0     37.000000    249.00000      6.000000     11.000000
75%     2310.0     48.000000    580.00000     35.000000     25.000000
max     2310.0     90.000000    954.00000     46.000000     88.000000

                VIA       BANDERA         REGIM         MODAD       FINALID  \
count  41158.000000  41158.000000  41158.000000  41158.000000  41158.000000
mean       4.977404    398.381846      1.014870    190.091355      1.086180
std        3.623204    222.902884      0.236135     37.997728      0.280633
min        0.000000     23.000000      1.000000      2.000000      1.000000
25%        1.000000    211.000000      1.000000    198.000000      1.000000
50%        7.000000    431.000000      1.000000    198.000000      1.000000
75%        9.000000    580.000000      1.000000    198.000000      1.000000
max        9.000000    999.000000      5.000000    402.000000      2.000000

           CER_ORI1        SISESP         POSAR         DPTO1          UNID  \
count  41158.000000  41158.000000  4.115800e+04  41158.000000  41158.000000
mean       7.322027      1.802080  4.545124e+09     22.546407     24.305214
std        1.909637      0.398437  2.748217e+09     23.809249     16.094907
min        1.000000      1.000000  1.012100e+08      0.000000     11.000000
25%        8.000000      2.000000  2.103909e+09      5.000000     11.000000
50%        8.000000      2.000000  3.926909e+09     11.000000     33.000000
75%        8.000000      2.000000  6.305331e+09     25.000000     33.000000
max        8.000000      2.000000  9.807200e+09     94.000000     82.000000

              CANTI           PBK           PNK        FOBDOL        FOBPES
count  4.115800e+04  4.115800e+04  4.115800e+04  4.115800e+04  4.115800e+04
mean   1.899967e+05  2.074042e+05  2.065218e+05  1.008832e+05  4.250077e+08
std    4.357848e+06  6.050983e+06  6.050825e+06  2.733720e+06  1.145679e+10
min    1.000000e-02  0.000000e+00  0.000000e+00  1.000000e-02  4.053000e+01
25%    4.750000e+01  3.652500e+01  3.079000e+01  5.459175e+02  2.296129e+06
50%    4.800000e+02  3.320550e+02  2.890700e+02  3.645600e+03  1.540347e+07
75%    6.652100e+03  4.112352e+03  3.651510e+03  2.160000e+04  9.119411e+07
max    3.304395e+08  6.248034e+08  6.248034e+08  3.424532e+08  1.427690e+12

In [10]:
# Convertir la columna 'FOBDOL' a números flotantes
df_octubre['FOBDOL'] = df_octubre['FOBDOL'].astype(float)
df_octubre['CANTI'] = df_octubre['CANTI'].astype(float)
df_octubre['PBK'] = df_octubre['PBK'].astype(float)
df_octubre['PNK'] = df_octubre['PNK'].astype(float)
df_octubre['FOBPES'] = df_octubre['FOBPES'].astype(float)
df_octubre['FLETES'] = df_octubre['FLETES'].astype(float)

# quitar espacios en blanco de todas las columnas

df_octubre = df_octubre.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [ ]:
#resumen de las exportaciones por paísd destino

resumen_expo_octubre = df_octubre.groupby('COD_PAI4').agg({'CANTI': 'sum', 'FOBDOL': 'sum'})

In [ ]:
# Mostrar el resumen de las ventas de octubre por país
print("\nResumen de las ventas por exportaciones en octubre por país:")
print(resumen_expo_octubre)

Resumen de las ventas por exportaciones en octubre por país:
                CANTI       FOBDOL
COD_PAI4
ABW        2919811.87   2312176.91
AGO             69.00     14975.42
ARE        2671199.20  12818371.56
ARG       14840880.55  31540809.43
ARM          51798.00     10913.22
...               ...          ...
VNM         463228.67   2232578.15
XCF       89400003.41  45798867.00
YEM          23648.00     46240.00
ZAF       10835325.75   4353697.65
ZMB             92.00       200.00

[150 rows x 2 columns]

In [ ]:
# Calcular el precio promedio por exportaciones por país
precio_promedio_octubre = df_octubre.groupby('COD_PAI4')['FOBDOL'].mean()

In [ ]:
# Mostrar el precio promedio por exportaciones por país
print(precio_promedio_octubre)

COD_PAI4
ABW      2937.963037
AGO      2995.084000
ARE     44354.226851
ARG    124176.415079
ARM      1559.031429
           ...
VNM     69768.067187
XCF    349609.671756
YEM     46240.000000
ZAF    207318.935714
ZMB       200.000000
Name: FOBDOL, Length: 150, dtype: float64

In [13]:
#verificar existencia de precios atípicos en dólares

# Seleccionar solo las columnas numéricas
columnas_numericas = df_octubre.select_dtypes(include=['float64', 'int64'])

# Calcular el rango intercuartílico (IQR) para cada columna numérica
Q1 = columnas_numericas.quantile(0.25)
Q3 = columnas_numericas.quantile(0.75)
IQR = Q3 - Q1

# Definir un umbral para identificar valores atípicos
umbral_superior = Q3 + 1.5 * IQR
umbral_inferior = Q1 - 1.5 * IQR

# Encontrar valores atípicos en cada columna
valores_atipicos = ((columnas_numericas < umbral_inferior) | (columnas_numericas > umbral_superior)).any(axis=1)

# Mostrar las filas que contienen valores atípicos
filas_con_atipicos = df_octubre[valores_atipicos]
print(filas_con_atipicos)

       FECH  ADUA  PAIS COD_PAI4  COD_SAL1 COD_SAL  DPTO2  VIA  BANDERA  \
0      2310     1   249      USA         0     AXM     68    9      249
1      2310     1   580      PAN         0     AXM     68    0      580
2      2310     3    23      DEU         3     BOG      5    3       23
17     2310     3    23      DEU         3     BOG      8    3       23
18     2310     3    23      DEU         3     BOG     11    1      211
...     ...   ...   ...      ...       ...     ...    ...  ...      ...
41153  2310    90   917      XCF        11     MDE      5    9      999
41154  2310    90   917      XCF        11     MDE      5    9      999
41155  2310    90   917      XCF        11     MDE      5    9      999
41156  2310    90   917      XCF        11     MDE      5    9      999
41157  2310    90   917      XCF        11     MDE     11    9      999

       REGIM  ...  CODUNI2    CANTI        PBK       PNK       FOBDOL  \
0          1  ...       M3   110.11  115667.45  88974.96    108082.89
1          1  ...       M3    21.58   22674.26  17441.74     18547.00
2          1  ...       KG   576.00     654.00    576.00      4475.52
17         1  ...       KG  1031.00    1197.00   1031.00    107926.11
18         1  ...        U     2.00      67.00     60.00     11612.12
...      ...  ...      ...      ...        ...       ...          ...
41153      1  ...       KG   303.59     326.87    303.59  15985156.02
41154      1  ...       KG    49.81      55.68     49.81   1198388.10
41155      1  ...       KG    94.56     103.06     94.56   4921333.08
41156      1  ...       KG     2.71       3.06      2.71     63722.65
41157      1  ...       KG  1019.88    1077.28   1019.88     40435.80

             FOBPES    AGRENA  FLETES  SEGURO  OTROSG
0      4.572566e+08         0     0.0       0       0
1      7.846512e+07         0     0.0       0       0
2      1.814268e+07         0  1353.6       0       0
17     4.562458e+08         0  1500.0       0       0
18     4.893313e+07         0   370.0       0       0
...             ...       ...     ...     ...     ...
41153  6.769292e+10         0     0.0       0       0
41154  5.075741e+09         0     0.0       0       0
41155  2.059895e+10         0     0.0       0       0
41156  2.625768e+08         0     0.0       0       0
41157  1.701053e+08  34946.11     0.0       0       0

[29278 rows x 27 columns]